h1{
  font-size: 24px; 
  font-weight: bold;
}
h1.title{
  font-size: 28px; 
  font-weight: bold;
  color: green; 
}
h2, h3{
  font-size: 22px;
  font-weight: bold;
}
body{
  font-size: 15px;
}
code.r{ 
  font-size: 15px; 
}
a{
  color:#10ab0e;
}


.list-group-item.active, 
.list-group-item.active:focus, 
.list-group-item.active:hover{
  background-color: green; 
}


#rmd-show-all-code:hover, 
#rmd-hide-all-code:hover{
  background-color: green;
}

.btn-default {
    color: #ffffff;
    background-color: #9faea1;
    border-color: #9faea1;
}

.btn-default:active, 
.btn-default.active, 
.open>.dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #839783;
    border-color: #839783;
}


.wrangling-table{
 border-collapse: collapse;
 margin: 25px 0;
 font-size: 0.9em;
 min-width: 400px;
 border-radius: 5px 5px 0 0;
 overflow: hidden;
}
.wrangling-table thead tr{
 background-color: green;
 color: #ffffff;
 text-align: left;
 font-weight: bold;
}
.wrangling-table th,
.wrangling-table td{
 padding: 12px 15px ;
 font-size: 15px;
}
.wrangling-table tbody tr{
  border-bottom: 1px solid #dddddd;
}
.wrangling-table tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}
.wrangling-table tbody tr:last-of-type {
  border-bottom: 2px solid green;
}
